<ng-container 
    *ngTemplateOutlet="playerInfo;context: 
    {   
        name: thisClientPlayer.name, 
        move: thisClientPlayer.move, 
        score: score[thisClientPlayer.id]
    }"></ng-container>
<div class="stats">
    <div class="turn">
        <ng-container *ngTemplateOutlet="checkBox; context: thisClientPlayer"></ng-container>
        <ng-container *ngTemplateOutlet="checkBox; context: otherClientPlayer"></ng-container>
    </div>
    <div class="round">
        <span>Round</span>
        <span class="value">{{round}}</span>
    </div>
</div>
<ng-container 
    *ngTemplateOutlet="playerInfo;context: 
    {   
        name: otherClientPlayer.name, 
        move: otherClientPlayer.move, 
        score: score[otherClientPlayer.id]
    }"></ng-container>

<ng-template #playerInfo let-name="name" let-move="move" let-score="score">
    <div class="playerInfo">
        <div>
            <span>{{name}}</span>
            &nbsp;
            <span>{{move}}</span>
        </div>
        <span class="scoreValue">{{score}}</span>
    </div>
</ng-template>

<ng-template #checkBox let-id="id" let-move="move">
    <div class="checkBox" 
        [class.checked]="id === currentPlayer.id"
        [class.playerx]="move === 'X'"
        [class.playero]="move === 'O'"></div>
</ng-template>
