@import '../../../styles/colors.scss';

$number-color: white;

:host {
    width: 100%;
    height: 100%;
    display: flex;

    color: $secondary-color;
    font-weight: bold;

    padding: 10px;
}

$stats-width: 120px;
$move-width: 30px;

.playerInfo {
    width: calc((100% - #{$stats-width})/2);
    height: 100%;

    text-transform: uppercase;

    .player {
        width: 100%;
    
        display: flex;
        align-items: center;
      
        .name {
            max-width: calc(100% - #{$move-width});
            min-width: auto;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .move {
            width: $move-width;
            text-align: center;
        }
    }

    &:last-child {
        text-align: right;

        .player {
            flex-direction: row-reverse;
        }
    }

    .connected{
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .scoreValue {
        display: inline-block;
        margin-top: 10px;

        color: $number-color;
        font-size: 2em;
    }
}

.stats {
    width: $stats-width;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    
    .turn {
        display: flex;
        justify-content: space-around;
    }

    .round {
        margin-top: 10px;

        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        .value {
            color: $number-color;
            font-size: 1.3em;
        }
    }
}

$check-box-size: 40px;

.checkBox {
    display: inline-block;
    position: relative;
    width: $check-box-size;
    height: $check-box-size;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid transparent;

    &.playerx {
        border-color: $x-color;
    }

    &.playero {
        border-color: $o-color;
    }

    &.checked {
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            width: $check-box-size / 2;
            height: $check-box-size / 2;
    
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &.checked.playerx {
        &::after{
            background-color: $x-color;
        }
    }

    &.checked.playero {
        &::after{
            background-color: $o-color;
        }
    }
}