/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // background-color: rgb(161, 161, 161);
  // background-image: url('./assets/pattern.jpg');
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

button {
  &.success, &.danger {
    outline: none;
    border: none;


    color: white;

    cursor: pointer;
  }

  &.success {
    background-color: $green;

    &:hover {
      background-color: $dark-green;
    }

    &:active {
      background-color: $green;
    }
  }

  &.danger {
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }

    &:active {
      background-color: $red;
    }
  }

}

input.green {
  outline: none;
  border: none;

  text-align: center;

  border: 3px solid;
  border-color: transparent;

  &:focus {
      border-color: $green;
  }
}