:host {
    width: 100%;
    height: 100%;

    display: block;
}

.connectToGame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createPlayerContainer {
    width: 60%;
    height: 40px;

    margin-bottom: 10px;

    display: flex;

    input.playerName {
        flex: 0.7;
    }

    button.createPlayer {
        flex: 0.3;
    }
}

.gameLink {
    display: flex;
    align-items: center;

    width: 60%;
    height: 40px;
    
    background-color: white;

    .link {
        flex: 0.9;
        height: 100%;
    }

    .copyButton {
        display: block;

        flex: 0.1;
        height: 100%;

        border-radius: 0px;
    }
}

.gameContainer {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameInfoContainer {
    flex: 0 0 100px;
}

.spinnerContainer {
    position: relative;
    flex: 0 0 200px;
    border: 1px solid red;
}

.game {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .board {
        flex: 0 0 55%;
    }

    .chat {
        flex: 0 0 40%;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {

    .gameContainer {
        height: 80%;
    }

    .game {
        display: flex;
        flex-direction: row;
    }
}