<div class="connectToGame" *ngIf="!gameState; else gameContainer">
    <div class="createPlayerContainer" *ngIf="!gameState; else gameContainer" >
        <input type="text" class="playerName green" [(ngModel)]="playerName" required>
        <button class="success createPlayer" (click)="playHandler()">Play</button>
    </div>
    <div class="gameLink">
        <input #link type="text" class="link green" readonly="true" [value]="gameUrl">
        <button class="success copyButton" (click)="copyClickHandler()">copy</button>
    </div>
</div>
<ng-template #gameContainer>
    <div class="gameContainer">
        <div class="gameInfoContainer">
            <app-game-info
                [players]="gameState.players"
                [currentPlayer]="gameState.currentPlayer"
                [thisClientPlayerId]="currentClientPlayer.id"
                [score]="gameState.score"
                [round]="gameState.round"
            ></app-game-info>
        </div>
        <div class="game">
            <div class="board">
                <app-board 
                    [board]="gameState.board" 
                    [currentPlayerMove]="gameState.currentPlayer.move" 
                    [currentPlayerId]="gameState.currentPlayer.id"
                    [thisClientPlayerId]="currentClientPlayer.id"
                    [linePosition]="linePositionMap.get(gameState.roundResult)"
                    (fieldClicked)="fieldClickHandler($event)"
                    (lineDrawn)="lineDrawnHandler()"
                    ></app-board>
            </div>
            <div class="chat">
                <app-chat 
                    [gameConncetion]="gameConnection" 
                    [connectedPlayers]="gameState.players" 
                    [currentPlayer]="currentClientPlayer"></app-chat>
            </div>
        </div>
    </div>
</ng-template>

