<div class="createPlayerContainer" *ngIf="!gameState; else gameContainer" >
    <input type="text" class="playerName green" [(ngModel)]="playerName" required>
    <button class="success createPlayer" (click)="playHandler()">Play</button>
</div>
<ng-template #gameContainer>
    <div class="gameContainer">
        <div class="gameInfoContainer">
            <app-game-info
                [players]="gameState.players"
                [currentPlayer]="gameState.currentPlayer"
                [thisClientPlayerId]="currentClientPlayer.id"
                [score]="gameState.score"
                [round]="gameState.round"
            ></app-game-info>
        </div>
        <div class="game">
            <div class="board">
                <button *ngFor="let field of gameState.board; let i = index" (click)="fieldClickHandler(i)">{{field}}</button>
            </div>
            <div class="chat">
        
            </div>
        </div>
    </div>
</ng-template>

