:host {
    width: 100%;
    height: 100vh;

    padding: 10px;

    display: block;

    overflow: hidden;

    .alert {
        height: 20%;
        width: 100%;
        padding: 10px;
    }

    .routes {
        height: 80%;
    }
}

@media screen and (min-width: 768px) {
    :host {
        width: 60%;
        margin: 0 auto;

        .alert {
            height: 10%;
        }
    
        .routes {
            height: 85%;
        }
    }
}