@import '../../../styles/colors.scss';

$field-gap: 10px;
$dark-x-color: darken($color: $x-color, $amount: 10);
$dark-o-color: darken($color: $o-color, $amount: 10);

:host {
    width: 100%;
    height: 100%;

    width: 100%;
    height: 100%;

    display: grid;
    gap: $field-gap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
}

.field {
    border: none;
    outline: none;

    background-color: $secondary-color;

    border-radius: 5px;

    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    color: rgba(255, 255, 255, 0.377);

    user-select: none;

    &:hover {
        cursor: not-allowed;
    }

    &[thisClientTurn="true"]{
        &[value=""] {
            &:hover {
                cursor: pointer;
            }

            &[move="X"] {
                &:hover {
                    background-color: $dark-x-color;
                }

                &:active {
                    background-color: $x-color;
                }
            }
    
            &[move="O"] {

                &:hover {
                    background-color: $dark-o-color;
                }

                &:active {
                    background-color: $o-color;
                }
            }
        }
    }

    &[value="X"] {
        background-color: $x-color;

        &:hover {
            background-color: $x-color;
        }
    }

    &[value="O"] {
        background-color: $o-color;

        &:hover {
            background-color: $o-color;
        }
    }

    $field-color-transition-time: 0.5s;
    $field-color-transition-delay: $field-color-transition-time;

    &[line^="row"] {

        &[line$="-1"] {
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(1) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(2) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(3) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }

        &[line$="-2"] {
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(4) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(5) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(6) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }

        &[line$="-3"] {
            &:nth-child(7), &:nth-child(8), &:nth-child(9) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(7) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(8) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(9) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }
    }

    &[line^="col"] {

        &[line$="-1"] {
            &:nth-child(1), &:nth-child(4), &:nth-child(7) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(1) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(4) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(7) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }

        &[line$="-2"] {
            &:nth-child(2), &:nth-child(5), &:nth-child(8) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(2) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(5) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(8) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }

        &[line$="-3"] {
            &:nth-child(3), &:nth-child(6), &:nth-child(7) {
                &[value="X"] {
                    background-color: $dark-x-color;
                }
                &[value="O"] {
                    background-color: $dark-o-color;
                }
                color: black;
            }

            &:nth-child(3) {
                transition: all $field-color-transition-time linear;
            }

            &:nth-child(6) {
                transition: all $field-color-transition-time linear $field-color-transition-time;
            }

            &:nth-child(9) {
                transition: all $field-color-transition-time linear 2 * $field-color-transition-time
            }
        }
    }

    &[line="diag"] {
        &:nth-child(1), &:nth-child(5), &:nth-child(9) {
            &[value="X"] {
                background-color: $dark-x-color;
            }
            &[value="O"] {
                background-color: $dark-o-color;
            }
            color: black;
        }
        &:nth-child(1) {
            transition: all $field-color-transition-time linear;
        }

        &:nth-child(5) {
            transition: all $field-color-transition-time linear $field-color-transition-time;
        }

        &:nth-child(9) {
            transition: all $field-color-transition-time linear 2 * $field-color-transition-time
        }
    }

    &[line="inv-diag"] {
        &:nth-child(3), &:nth-child(5), &:nth-child(7) {
            &[value="X"] {
                background-color: $dark-x-color;
            }
            &[value="O"] {
                background-color: $dark-o-color;
            }
            color: black;
        }

        &:nth-child(3) {
            transition: all $field-color-transition-time linear;
        }

        &:nth-child(5) {
            transition: all $field-color-transition-time linear $field-color-transition-time;
        }

        &:nth-child(7) {
            transition: all $field-color-transition-time linear 2 * $field-color-transition-time
        }
    }
}



